[submodule "airline"]
	path = vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "ale"]
	path = vim/pack/default/start/ale
	url = https://github.com/w0rp/ale
[submodule "fugitive"]
	path = vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "tagbar"]
	path = vim/pack/default/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "nerdtree"]
	path = vim/pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nerdtree-git-plugin"]
	path = vim/pack/default/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "vimwiki"]
	path = vim/pack/default/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
	#branch = dev
[submodule "rust.vim"]
	path = vim/pack/default/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
